<ion-view view-title="Exhaust" ng-init="getWineList()">

    <ion-content class="padding">
        <div class="bar bar-header bar-light">

            <div class="row wine-category" ng-init="wineCategory = ''">
                <div id="navbar">
                    <div  data-ng-click="setWineCategory('')" ng-class="'' == wineCategory ? 'text-uppercase background-violet' : 'text-uppercase'" class="text-uppercase">Tutti i vini</div>
                    <div  data-ng-click="setWineCategory('Bianco')" ng-class="'Bianco' == wineCategory ? 'text-uppercase background-violet' : 'text-uppercase'" class="text-uppercase">Bianco</div>
                    <div  data-ng-click="setWineCategory('Rosso')" ng-class="'Rosso' == wineCategory ? 'text-uppercase background-violet' : 'text-uppercase'" class="text-uppercase">Rosso</div>
                    <div  data-ng-click="setWineCategory('Bollicine')" ng-class="'Bollicine' == wineCategory ? 'text-uppercase background-violet' : 'text-uppercase'" class="text-uppercase">Bollicine</div>
                    <div  data-ng-click="setWineCategory('Rosati')" ng-class="'Rosati' == wineCategory ? 'text-uppercase background-violet' : 'text-uppercase'" class="text-uppercase">Rosati</div>
                    <div  data-ng-click="setWineCategory('Champagne')" ng-class="'Champagne' == wineCategory ? 'text-uppercase background-violet' : 'text-uppercase'" class="text-uppercase">Champagne</div>
                    <div  data-ng-click="setWineCategory('Dolce')" ng-class="'Dolce'== wineCategory ? 'text-uppercase background-violet' : 'text-uppercase'" class="text-uppercase">Vini dolci</div>
                </div>
            </div>

        </div>
        <div class="row">
            <!-- {{wines}} -->
            <ion-scroll class="col col-90">
                <div class="card" ng-repeat = "wine in wines | filter:{Subcategory:wineCategory, Territory_Code:wineRegion}">
                    <div class="item item-divider card-title-background">
                        <div class="card-title text-uppercase">{{wine.Winemaker_Name}} </div>
                        <div class="card-description text-uppercase">{{wine.Variant_Description}} {{wine.Variant_Code!=0 ? wine.Variant_Code : ''}}</div>
                    </div>
                    <div class="item item-text-wrap">
                        Hai <strong>{{wine.Current_Stock_Quantity}}</strong> bottiglie
                        <div class="item item-input">
                            <select ng-model="wineExhaust">
                                <option ng-value = "1" selected>1</option>
                                <option ng-value = "2" >2</option>
                                <option ng-value = "3" >3</option>
                                <option ng-value = "4" >4</option>
                                <option ng-value = "5" >5</option>
                                <option ng-value = "6" >6</option>
                                <option ng-value = "7" >7</option>
                                <option ng-value = "8" >8</option>
                                <option ng-value = "9" >9</option>
                                <option ng-value = "10" >10</option>
                            </select>
                        </div>
                    </div>
                    <div class="item item-divider">
                        <button class="button button-stable text-center text-uppercase" ng-click="click()">
                            Scarica <strong>{{wineExhaust}}</strong> bottiglie 
                        </button>
                    </div>
                </div>
            </ion-scroll>

            <ion-scroll class="col">
                <div class="pin small"></div>
                <ion-list class="region-list"> 
                    <a data-ng-click="setWineRegion('')" ng-class="'' == wineRegion ? 'text-uppercase bold' : ''"> Tutte </a>
                    <li ng-repeat="region in regions">
                        <span ng-show = "region.filter == wineRegion">&#9679;</span>
                        <a data-ng-click="setWineRegion('{{region.filter}}')" ng-class="region.filter == wineRegion ? 'text-uppercase bold' : ''">{{region.name}}</a>
                    </li>
                </ion-list>
            </ion-scroll>

        </div>

    </ion-content>

</ion-view>