<ion-view view-title="Rectification">
    <ion-nav-bar>   
        <div class="bar bar-header">
            <div id="navbar" >
                <div  data-ng-click="setWineCategory('')" ng-class="'' == wineCategory ? 'text-uppercase background-violet' : 'text-uppercase'" class="text-uppercase">Tutti i vini</div>
                <div  data-ng-click="setWineCategory('Bianco')" ng-class="'Bianco' == wineCategory ? 'text-uppercase background-violet' : 'text-uppercase'" class="text-uppercase">Bianco</div>
                <div  data-ng-click="setWineCategory('Rosso')" ng-class="'Rosso' == wineCategory ? 'text-uppercase background-violet' : 'text-uppercase'" class="text-uppercase">Rosso</div>
                <div  data-ng-click="setWineCategory('Bollicine')" ng-class="'Bollicine' == wineCategory ? 'text-uppercase background-violet' : 'text-uppercase'" class="text-uppercase">Bollicine</div>
                <div  data-ng-click="setWineCategory('Rosati')" ng-class="'Rosati' == wineCategory ? 'text-uppercase background-violet' : 'text-uppercase'" class="text-uppercase">Rosati</div>
                <div  data-ng-click="setWineCategory('Champagne')" ng-class="'Champagne' == wineCategory ? 'text-uppercase background-violet' : 'text-uppercase'" class="text-uppercase">Champagne</div>
                <div  data-ng-click="setWineCategory('Dolce')" ng-class="'Dolce'== wineCategory ? 'text-uppercase background-violet' : 'text-uppercase'" class="text-uppercase">Vini dolci</div>
            </div>
        </div>
    </ion-nav-bar>
    <ion-content>
        <div class="row">
            <ion-scroll class="col col-90" style="height: 80vh">
                <div class="card-wrapper">
                    <div class="card" ng-repeat = "wine in wines | filter:{Subcategory:wineCategory, Regione:wineRegion}">
                        <div class="item item-divider card-title-background">
                            <div class="card-title text-uppercase">{{wine.WineMaker_Name}} </div>
                            <div class="card-description text-uppercase">{{wine.Description}} {{wine.Variant_Code!=0 ? wine.Variant_Code : ''}}</div>
                        </div>
                        <div class="item item-text-wrap">
                            <p>Hai scaricato <strong>{{wine.Quantity}}</strong> bottiglie </p>
                            <p>Quante ne hai scaricate in realtà?</p>
                            <div class="item item-input">
                                <select ng-model="quantity">
                                    <option ng-value = "number.value" ng-repeat="number in numbers | limitTo: wine.Quantity">{{number.value}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="item item-divider">
                            <button class="button button-stable text-center text-uppercase" ng-click="rectification(wine.Basket_No, wine.Download_Date, wine.Customer_No, wine.Location_Code, wine.Item_No, wine.Variant_Code, wine.Description, wine.WineMaker_name, quantity,wine.ETag)">
                               <span class="ion-loop"></span> Rettifica <strong>{{quantity}}</strong> {{quantity == 1 ? 'Bottiglia' : 'Bottiglie'}}
                            </button>
                        </div>
                        <!--p class="text-pink">
                            Mi sono sbagliato, elimina lo scarico. 
                        </p-->
                    </div>
                </div>
            </ion-scroll>

            <ion-scroll class="col col-10" overflow-scroll="false">
                <div class="ion-ios7-location right"></div>
                <ion-list class="region-list"> 
                    <li ng-repeat="region in regions" class="text-align-right">
                        <a data-ng-click="setWineRegion('{{region.filter}}')" ng-class="region.filter == wineRegion ? 'text-uppercase bold' : ''">{{region.name}} {{region.letter}}
                        </a>
                    </li>
                </ion-list>
            </ion-scroll>
        </div>
    </ion-content>
</ion-view>
