<ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="Scarico" icon-off="ion-arrow-down-c" icon-on="ion-arrow-down-c" href="#/tab/exhaust">
        <ion-nav-view name="exhaust"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Rettifica venduto" icon-off="ion-loop" icon-on="ion-loop" href="#/tab/rectification">
        <ion-nav-view name="rectification"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Carta Vini" icon-off="ion-wineglass" icon-on="ion-wineglass" href="#/tab/winelist">
        <ion-nav-view name="winelist"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Magazzino" icon-off="ion-cube" icon-on="ion-cube" href="#/tab/wharehouse">
        <ion-nav-view name="wharehouse"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Statistiche" icon-off="ion-pie-graph" icon-on="ion-pie-graph" href="#/tab/account">
        <ion-nav-view name="statistics"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Logistica" icon-off="ion-android-send" icon-on="ion-android-send" href="#/tab/account">
        <ion-nav-view name="logistic"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Catalogo" icon-off="ion-android-note" icon-on="ion-android-note" href="#/tab/catalog">
        <ion-nav-view name="catalog"></ion-nav-view>
    </ion-tab>


</ion-tabs>
